### Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### loc and iloc are two commonly used functions in pandas for selecting rows and columns of a DataFrame. The main difference between the two functions is that loc selects rows and columns based on their labels, while iloc selects rows and columns based on their integer positions.

In [3]:
df.loc[1, "course_name"] # here we have given the column name i.e., course name to fetch the data from the respective column

'Machine Learning'

In [4]:
df.iloc[1, 0] # here we have given the index of column i.e., course name with ondex 0 to fetch the data from the respective column.

'Machine Learning'

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

#### Did you observe any difference in both the outputs? If so then explain it.

In [5]:
df1 = pd.DataFrame({"Test": [0,1,2,3]})

In [6]:
df1

   Test
0     0
1     1
2     2
3     3

In [7]:
df1

   Test
0     0
1     1
2     2
3     3

In [8]:
def index_change(df):
    
    l = len(df)
    list1 = []
    for i in range(l):
        list1.append(i)
    list1.remove(3)
    list1.insert(0, 3)
    
    # Create a new index starting from
    new_index = list1

    # Set the new index and create a new DataFrame
    df_reindexed = df.reset_index(drop=True)
    df_reindexed.index = new_index
    
    return df_reindexed

new_df = index_change(df1)

new_df

   Test
3     0
0     1
1     2
2     3

In [9]:
new_df.loc[2]

Test    3
Name: 2, dtype: int64

In [10]:
new_df.iloc[2]

Test    2
Name: 1, dtype: int64

In [11]:
df_1 = df1.reindex([3,0,1,2])

In [12]:
df_1.loc[2]

Test    2
Name: 2, dtype: int64

In [13]:
df_1.iloc[2]

Test    1
Name: 1, dtype: int64

#### Yes we can observe a difference between both the outpots. While we execute new_df.loc[2] user gets an output index value is "2" whereas when we execute new_df.iloc[2] hives us the output whenre the index is positioned at value "2" irrespective of its exact value.

### Consider the below code to answer further questions:

In [14]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df2 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
    (i) mean of each and every column present in the dataframe.
    (ii) standard deviation of column, ‘column_2’

In [15]:
df2

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.667573  0.729218  0.398781  0.067874  0.343742  0.927103
2  0.820831  0.934746  0.403957  0.502404  0.208724  0.580584
3  0.679645  0.765672  0.604930  0.301756  0.775697  0.245614
4  0.572581  0.882798  0.615853  0.284423  0.776851  0.733541
5  0.890089  0.358296  0.959278  0.947609  0.547169  0.622536
6  0.729188  0.600983  0.538625  0.182532  0.760375  0.512020

In [16]:
column_means = df2.mean()
print("Mean of each column:")
print(column_means)
print()

Mean of each column:
column_1    0.726651
column_2    0.711952
column_3    0.586904
column_4    0.381100
column_5    0.568760
column_6    0.603567
dtype: float64

In [17]:
column_2_std = df2['column_2'].std()
print("Standard deviation of 'column_2':", column_2_std)

Standard deviation of 'column_2': 0.20947399028450664

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [18]:
df2.loc[1, "column_2"] = 'string_value'

In [19]:
df2['column_2'].mean()

TypeError: can only concatenate str (not "float") to str

#### When we run this code, we will encounter a TypeError because pandas cannot calculate the mean of a column containing both numerical and string values.

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In pandas, window functions are used for performing calculations over a specified window of data, typically moving or rolling windows. These functions operate on a sliding window of data defined by a specified number of preceding or following rows.

Window functions are commonly used for tasks such as calculating rolling averages, cumulative sums, and other rolling statistics. They allow for efficient and flexible analysis of time series or sequential data.

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
import datetime

# Get the current date
current_date = datetime.datetime.now()

# Extract the current month and year
current_month = current_date.strftime('%B')  # Full month name
current_year = current_date.year

# Print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [21]:
def calculate_time_difference(start_date, end_date):
    # Convert the input strings to datetime objects
    start_datetime = pd.to_datetime(start_date)
    end_datetime = pd.to_datetime(end_date)
    
    # Calculate the time difference
    time_difference = end_datetime - start_datetime
    
    # Extract days, hours, and minutes from the time difference
    days = time_difference.days
    hours = days * 24
    minutes = (days * 3600)
    
    return days, hours, minutes

# Prompt the user to enter the dates
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")

# Calculate the time difference
days, hours, minutes = calculate_time_difference(start_date, end_date)

# Display the result
print(f"The difference between the dates is: {days} days, {hours} hours, and {minutes} minutes.")

Enter the start date (YYYY-MM-DD):  2023-01-01
Enter the end date (YYYY-MM-DD):  2023-03-23

The difference between the dates is: 81 days, 1944 hours, and 291600 minutes.

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [31]:
def process_csv_file(file_path, column_name, category_order):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Convert the specified column to categorical data type
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    # Display the sorted data
    sorted_data = df.sort_values(by=column_name)
    return sorted_data

In [32]:
file_path = input("Enter the path to the CSV file: ")
column_name = input("Enter the name of the column to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

process_csv_file(file_path, column_name, category_order)

Enter the path to the CSV file:  players_data.csv
Enter the name of the column to convert to categorical:  Pos
Enter the category order (comma-separated):  PF,SG,C

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
522,390,Thomas Robinson,PF,23,POR,32,4,391,47,91,...,.438,33,100,133,9,16,11,33,54,115
521,390,Thomas Robinson,PF,23,TOT,54,4,798,126,260,...,.528,95,208,303,33,32,20,59,104,308
293,228,Serge Ibaka,PF,25,OKC,64,64,2116,374,786,...,.836,135,364,499,55,30,155,97,194,917
292,227,Kris Humphries,PF,29,WAS,64,17,1345,211,446,...,.744,118,298,416,57,34,25,46,130,509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,484,Nate Wolters,NaN,23,TOT,21,0,247,20,57,...,.333,8,26,34,21,8,2,13,18,42
660,484,Nate Wolters,NaN,23,MIL,11,0,142,12,31,...,.250,2,14,16,10,5,0,3,11,25
661,484,Nate Wolters,NaN,23,NOP,10,0,105,8,26,...,.500,6,12,18,11,3,2,10,7,17
666,486,Dorell Wright,NaN,29,POR,48,2,592,72,190,...,.810,14,97,111,41,20,11,18,55,219
667,487,Tony Wroten,NaN,21,PHI,30,15,895,175,434,...,.667,22,64,86,157,48,8,113,72,507

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [34]:
import matplotlib.pyplot as plt

# Function to read CSV file and visualize sales data using stacked bar chart
def visualize_sales_data(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Group sales data by 'Date' and 'Product Category' and sum the sales
    sales_by_date_category = df.groupby(['Date', 'Product Category'])['Sales'].sum().unstack(fill_value=0)
    
    # Plot stacked bar chart
    sales_by_date_category.plot(kind='bar', stacked=True, figsize=(10, 6))
    
    # Add labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Sales of Each Product Category Over Time')
    
    # Display legend
    plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
    
    # Show plot
    plt.show()

# Prompt the user to enter file path
file_path = input("Enter the path to the CSV file: ")

# Visualize sales data using stacked bar chart
visualize_sales_data(file_path)

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [35]:
# Function to calculate mean, median, and mode of test scores
def calculate_statistics(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Calculate mean, median, and mode of test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode()[0]  # Get the first mode if multiple
    
    # Create a DataFrame to display the results
    results_df = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Score': [mean_score, median_score, mode_score]
    })
    
    return results_df

# Prompt the user to enter file path
file_path = input("Enter the path to the CSV file: ")

# Calculate statistics and display results
statistics_df = calculate_statistics(file_path)
print("\nStatistics of Test Scores:")
print(statistics_df)

Enter the path to the CSV file:  test.csv

FileNotFoundError: [Errno 2] No such file or directory: 'test.csv'