Q1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

In [1]:
stringVar = str()
listVar = []
floatVar = float()
tupleVar = ()

In [2]:
print(f"Datatype of stringVar variable: {type(stringVar)}")
print(f"Datatype of listVar variable: {type(listVar)}")
print(f"Datatype of floatVar variable: {type(floatVar)}")
print(f"Datatype of tupleVar variable: {type(tupleVar)}")

Datatype of stringVar variable: <class 'str'>
Datatype of listVar variable: <class 'list'>
Datatype of floatVar variable: <class 'float'>
Datatype of tupleVar variable: <class 'tuple'>

Q2. Given are some following variables containing data:
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.


What will be the data type of the above given variable.

In [3]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(f"Datatype of var1 variable: {type(var1)}")
print(f"Datatype of var2 variable: {type(var2)}")
print(f"Datatype of var3 variable: {type(var3)}")
print(f"Datatype of var4 variable: {type(var4)}")

Datatype of var1 variable: <class 'str'>
Datatype of var2 variable: <class 'str'>
Datatype of var3 variable: <class 'list'>
Datatype of var4 variable: <class 'int'>

Q3. Explain the use of the following operators using an example:
- (i) /
- (ii) %
- (iii) //
- (iv) **

In [4]:
# '/' the operator is to divide the numbers as shown in below example:
print(10/2)
# '%' Gives us the remier of a division
print(21/2)
# '//' Gives us an integer output after dividing the two numbers
print(25//2)
# '**' Use to provide the power to an numbers like squuare or cube of a number
print(4**2)

5.0
10.5
12
16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type

In [5]:
listVar = ['1', 'test', 2, 4, 2.342, {1,2, 3}, (1,2,3), 'start', 90, 11.23]
for a in listVar:
    print(f"{a} has type of {type(a)}")

1 has type of <class 'str'>
test has type of <class 'str'>
2 has type of <class 'int'>
4 has type of <class 'int'>
2.342 has type of <class 'float'>
{1, 2, 3} has type of <class 'set'>
(1, 2, 3) has type of <class 'tuple'>
start has type of <class 'str'>
90 has type of <class 'int'>
11.23 has type of <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
count = 0
A = int(input("Enter the value for A: "))
B = int(input("Enter the value for number B to check divisability of A: "))

while(A):
    if A%B == 0:
        A = A/B
        count += 1
        continue
    else:
        break
print(count)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
import random

random_list = [random.randint(1, 100) for _ in range(25)]
print(random_list)

divThree = []
noDivThree = []

for i in random_list:
    if i % 3 == 0:
        divThree.append(i)
    else:
        noDivThree.append(i)
        
print(f"List of numbers divisible by Three:               {divThree}")
print(f"List of numbers which are not divisible by Three: {noDivThree}")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable Data Types:
- Numbers (int, float, complex)
- Strings (str)
- Tuples (tuple)
- Boolean (bool)
- **Immutable data types cannot be modified after they are created. When you perform an operation that seems to modify an immutable object, such as concatenating strings or performing arithmetic operations on numbers, Python actually creates a new object with the modified value.**

Mutable Data Types:
- Lists (list)
- Sets (set)
- Dictionaries (dict)
- **Mutable data types can be modified after they are created. You can change their values, add or remove elements, or modify existing elements in place. Any modifications made to a mutable object directly affect the original object without creating a new object.**

### Example

In [ ]:
# Immutable example: string
name = "Krish"
name += " Naik"
print(name) 

# Mutable example: Lists
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)  # Output: [1, 2, 3, 4]