Q1. How do you comment code in Python? What are the different types of comments?

 A1. There are two type of comments in python i.e.,
 - **Singleline Comments:** The comments start with '#' and only represents a single line. 
 - **Multiline Comments** The comment starts and ends with ''' i.e., three top commas. 
 
 The more of it reperesents in following code.

In [8]:
# Single line Commnet:
print("Single Line comment")  # This particular hash shows the commented line

# Single line commnet 2
# Single line comment 3


''' Multiline Comment Multiline Comment
Multiline Comment Multiline Comment
Multiline Comment Multiline Comment '''

print("Multiline Comment")

Single Line comment
Multiline Comment

Q2. What are variables in Python? How do you declare and assign values to variables?

A2. In Python, variables are used to store data values. We can assign values to variables and use those variables later in the program.

To declare and assign a value to a variable in Python, we simply write the variable name followed by the assignment operator (=) and the desired value.  example:

In [9]:
# Variable declaration and assignment
message = "Shubham Khera" #string
number = 65 #integer
pi = 3.14 #float
is_true = True #boolean
vallist = [1, 2, 4, "string"] #lsit

Q3. How do you convert one data type to another in Python?

A3. We use type casting to convert one datatype to another in python for example:

In [11]:
intValue = 30
floatValue = 10.112
stringValue = "20"

#TypeCasting

newFloat = float(intValue)
newInt = int(stringValue)
newString = str(floatValue)

print(f"newFloat: {newFloat} has type of {type(newFloat)}")
print(f"newInt: {newInt} has type of {type(newInt)}")
print(f"newString: {newString} has type of {type(newString)}")

newFloat: 30.0 has type of <class 'float'>
newInt: 20 has type of <class 'int'>
newString: 10.112 has type of <class 'str'>

Q4. How do you write and execute a Python script from the command line?

A4. There are several methods to do so few of the commands are as following:
- **python script.py** {This will execute the code present in the script.py file}
- **python** hit enter and then write the code like **print("Hello!")** this will also prints the word "Hello!"

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

A5. Refer to below code to obtain a sub list

In [12]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

A6. In mathematics, a complex number is a number of the form a + bi, where a and b are real numbers, and i is the imaginary unit

In [13]:
z1 = 3 + 2j
z2 = 1 + 5j

# Addition
result = z1 + z2
print(result)  # Output: (4+7j)

# Multiplication
result = z1 * z2
print(result)  # Output: (-7+17j)

(4+7j)
(-7+17j)

In [14]:
z1 = 3 + 2j
z2 = -1.5 + 4j
z3 = complex(2, -1)

In [15]:
z1

(3+2j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [16]:
#variable
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [17]:
#Variable named Price
price = 9.99 # it belongs to float datatype

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [18]:
# variable named name assigned a new full name
name = "Shubham Khera"
print(name)

Shubham Khera

Q10. Given the string "Hello, World!", extract the substring "World".

In [27]:
word = "Hello, World!"
wordList = word.split(",").split("!")

AttributeError: 'list' object has no attribute 'split'

In [24]:
wordList[1].split('!')

['World', '']

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.